{{> default/slider }}
<section class="section">
    <div class="row">
        <div class="col-12">
            <div class="row">
                <div class="col-md-3">
                    <div>
                        <img src="https://www.elegantthemes.com/blog/wp-content/uploads/2020/01/featured-1.jpg"
                            alt="blog" class="img-fluid">
                        <h1>Blog 1</h1>
                        <small>17.01.1993</small>
                        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Pariatur explicabo vero inventore
                            aperiam</p>
                    </div>
                </div>
                <div class="col-md-3">
                    <div>
                        <img src="https://www.elegantthemes.com/blog/wp-content/uploads/2020/01/featured-1.jpg"
                            alt="blog" class="img-fluid">
                        <h1>Blog 1</h1>
                        <small>17.01.1993</small>
                        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Pariatur explicabo vero inventore
                            aperiam</p>
                    </div>
                </div>
                <div class="col-md-3">
                    <div>
                        <img src="https://www.elegantthemes.com/blog/wp-content/uploads/2020/01/featured-1.jpg"
                            alt="blog" class="img-fluid">
                        <h1>Blog 1</h1>
                        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Pariatur explicabo vero inventore
                            aperiam</p>
                    </div>
                </div>
                <div class="col-md-3">
                    <div>
                        <img src="https://www.elegantthemes.com/blog/wp-content/uploads/2020/01/featured-1.jpg"
                            alt="blog" class="img-fluid">
                        <h1>Blog 1</h1>
                        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Pariatur explicabo vero inventore
                            aperiam</p>
                    </div>
                </div>
                <div class="col-md-3">
                    <div>
                        <img src="https://www.elegantthemes.com/blog/wp-content/uploads/2020/01/featured-1.jpg"
                            alt="blog" class="img-fluid">
                        <h1>Blog 1</h1>
                        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Pariatur explicabo vero inventore
                            aperiam</p>
                    </div>
                </div>
                <div class="col-md-3">
                    <div>
                        <img src="https://www.elegantthemes.com/blog/wp-content/uploads/2020/01/featured-1.jpg"
                            alt="blog" class="img-fluid">
                        <h1>Blog 1</h1>
                        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Pariatur explicabo vero inventore
                            aperiam</p>
                    </div>
                </div>
                <div class="col-md-3">
                    <div>
                        <img src="https://www.elegantthemes.com/blog/wp-content/uploads/2020/01/featured-1.jpg"
                            alt="blog" class="img-fluid">
                        <h1>Blog 1</h1>
                        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Pariatur explicabo vero inventore
                            aperiam</p>
                    </div>
                </div>
                <div class="col-md-3">
                    <div>
                        <img src="https://www.elegantthemes.com/blog/wp-content/uploads/2020/01/featured-1.jpg"
                            alt="blog" class="img-fluid">
                        <h1>Blog 1</h1>
                        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Pariatur explicabo vero inventore
                            aperiam</p>
                    </div>
                </div>
                <div class="col-md-3">
                    <div>
                        <img src="https://www.elegantthemes.com/blog/wp-content/uploads/2020/01/featured-1.jpg"
                            alt="blog" class="img-fluid">
                        <h1>Blog 1</h1>
                        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Pariatur explicabo vero inventore
                            aperiam</p>
                    </div>
                </div>
                <div class="col-md-3">
                    <div>
                        <img src="https://www.elegantthemes.com/blog/wp-content/uploads/2020/01/featured-1.jpg"
                            alt="blog" class="img-fluid">
                        <h1>Blog 1</h1>
                        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Pariatur explicabo vero inventore
                            aperiam</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>