{{> default/slider }}
<section class="section">
    <div class="row">
        <div class="col-md-9">
            <div>
                <img src="https://www.elegantthemes.com/blog/wp-content/uploads/2020/01/featured-1.jpg" alt="blog"
                    class="img-fluid">
                <h1>Blog 1</h1>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Pariatur explicabo vero inventore aperiam
                    incidunt
                    ea temporibus neque expedita aspernatur corporis earum officiis exercitationem, libero dignissimos?
                    Beatae
                    accusantium vero minus eum tempore. Vitae ducimus autem dolorum nostrum nam totam, error,
                    voluptatibus
                    earum
                    iure omnis neque maxime commodi! Quod nisi molestiae similique!</p>
            </div>
            <div>
                <img src="https://www.elegantthemes.com/blog/wp-content/uploads/2020/01/featured-1.jpg" alt="blog"
                    class="img-fluid">
                <h1>Blog 1</h1>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Pariatur explicabo vero inventore aperiam
                    incidunt
                    ea temporibus neque expedita aspernatur corporis earum officiis exercitationem, libero dignissimos?
                    Beatae
                    accusantium vero minus eum tempore. Vitae ducimus autem dolorum nostrum nam totam, error,
                    voluptatibus
                    earum
                    iure omnis neque maxime commodi! Quod nisi molestiae similique!</p>
            </div>
            <div>
                <img src="https://www.elegantthemes.com/blog/wp-content/uploads/2020/01/featured-1.jpg" alt="blog"
                    class="img-fluid">
                <h1>Blog 1</h1>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Pariatur explicabo vero inventore aperiam
                    incidunt
                    ea temporibus neque expedita aspernatur corporis earum officiis exercitationem, libero dignissimos?
                    Beatae
                    accusantium vero minus eum tempore. Vitae ducimus autem dolorum nostrum nam totam, error,
                    voluptatibus
                    earum
                    iure omnis neque maxime commodi! Quod nisi molestiae similique!</p>
            </div>
        </div>
        <div class="col-md-3">
            <div class="right-post">
                <div class="right-post-image">
                    <img src="https://www.elegantthemes.com/blog/wp-content/uploads/2020/01/featured-1.jpg" alt="blog"
                        class="img-fluid">
                </div>
                <div class="right-post-title">
                    <h1>Title</h1>
                </div>
                <div class="right-post-body">
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Incidunt nisi blanditiis non, libero
                        numquam a?</p>
                </div>
            </div>
            <div class="right-post">
                <div class="right-post-image">
                    <img src="https://www.elegantthemes.com/blog/wp-content/uploads/2020/01/featured-1.jpg" alt="blog"
                        class="img-fluid">
                </div>
                <div class="right-post-title">
                    <h1>Title</h1>
                </div>
                <div class="right-post-body">
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Incidunt nisi blanditiis non, libero
                        numquam a?</p>
                </div>
            </div>
            <div class="right-post">
                <div class="right-post-image">
                    <img src="https://www.elegantthemes.com/blog/wp-content/uploads/2020/01/featured-1.jpg" alt="blog"
                        class="img-fluid">
                </div>
                <div class="right-post-title">
                    <h1>Title</h1>
                </div>
                <div class="right-post-body">
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Incidunt nisi blanditiis non, libero
                        numquam a?</p>
                </div>
            </div>
        </div>
    </div>
</section>