<div class="row">
    <div class="col-12">
        {{#if errors}}
        {{#each errors}}
        <div class="alert alert-danger alert-dismissible fade show mt-3" role="alert">
            <strong>{{message}}</strong>
            <button class="close" type="button" data-dismiss="alert" aria-label="close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        {{/each}}
        {{/if}}
    </div>
</div>

<div class="row">
    <div class="offset-md-3"></div>
    <div class="col-md-6">
        <div class="form-wapper">
            <div>
                <h3>Register</h3>
            </div>
            <form action="/register" method="post" class="my-5">
                <div class="form-group">
                    <label for="firstName">Ime*</label>
                    <input type="text" class="form-control" id="firstName" name="firstName" aria-describedby="emailHelp"
                        placeholder="Vase ime">
                </div>
                <div class="form-group">
                    <label for="lastName">Prezime*</label>
                    <input type="text" class="form-control" id="lastName" name="lastName" aria-describedby="emailHelp"
                        placeholder="Vase prezime">
                </div>
                <div class="form-group">
                    <label for="email">Email adresa*</label>
                    <input type="email" class="form-control" id="email" name="email" aria-describedby="emailHelp"
                        placeholder="Vas email">
                </div>
                <div class="form-group">
                    <label for="password">Password*</label>
                    <input type="password" class="form-control" id="password" name="password"
                        placeholder="Vas password">
                </div>
                <div class="form-group">
                    <label for="passwordConfirm">Potvrdite password*</label>
                    <input type="password" class="form-control" id="passwordConfirm" name="passwordConfirm"
                        placeholder="Potvrdite password">
                </div>
                <button type="submit" class="btn btn-submit">Register</button>
            </form>
        </div>
    </div>
    <div class="offset-md-3"></div>
</div>